[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
factory-boy = "*"
pytest = "*"
tox = "*"
mkdocs = "*"
markdown-include = "*"
mkdocs-material = "*"

[scripts]
tests = "tox -p all"
